<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIN-u1gHAYsmXPcGMjTFZrb_7oVOIiBps</string>
	<key>GCM_SENDER_ID</key>
	<string>528958367333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rankmarket.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-rankmarket</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-rankmarket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528958367333:ios:805f1c37da55ed5b1f488c</string>
</dict>
</plist>